.accordion__batchOfItems {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  height: 100vh;
  padding-top: 10px;
  overflow-y: scroll;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}
.accordion__batchOfItems .movieShowCard {
  display: flex;
  width: 400px;
  height: 135px;
  margin-bottom: 20px;
  padding: 10px;
  padding-bottom: 0;
  cursor: pointer;
  background-color: rgb(68, 67, 67);
}
.accordion__batchOfItems .movieShowCard img {
  margin-bottom: 10px;
  width: 85px;
  flex-shrink: 0;
}
.accordion__batchOfItems .movieShowCard__description {
  font-size: 13px;
  padding-left: 20px;
  color: white;
}
.accordion__batchOfItems .movieShowCard__description .language span {
  color: red;
}
