.accordion__genres {
  flex-shrink: 0;
  padding-top: 15px;
  padding-right: 50px;
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}
.accordion__genres ul .backToShowTypes {
  position: relative;
  color: white;
  margin-bottom: 20px;
}
.accordion__genres ul .backToShowTypes h1 {
  margin-bottom: 0;
  font-size: 20px;
  padding-top: 5px;
  padding-left: 45px;
}
.accordion__genres ul .backToShowTypes button {
  position: absolute;
  display: inline-block;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  outline: inherit;
  cursor: pointer;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  background-color: gray;
  color: white;
  margin-right: 15px;
}
.accordion__genres ul .genresItemContainer {
  display: flex;
  transition: all 1s ease-in-out;
}
.accordion__genres ul .genresItemContainer img {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.accordion__genres ul .genresItemContainer li {
  height: 20px;
  margin-bottom: 40px;
  padding-top: 6px;
  padding-left: 20px;
  cursor: pointer;
  list-style-type: none;
  color: gray;
}
.accordion__genres ul .chosen {
  position: relative;
  left: 30px;
}
.accordion__genres ul .chosen img {
  width: 50px;
  height: 50px;
  transition: all 0.13s ease-in-out;
}
.accordion__genres ul .chosen li {
  color: white;
  font-weight: bold;
  padding-top: 15px;
  transition: all 0.13s ease-in-out;
}
