.accordion__watchType {
  padding-top: 30px;
}
.accordion__watchType li {
  margin-bottom: 20px;
  color: white;
  list-style-type: none;
  overflow-y: scroll;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  cursor: pointer;
}
.accordion__watchType li::-webkit-scrollbar {
  display: none; /*for Chrome, Safari and Opera*/
}
